@import './variables';

@font-face {
  font-family: iconfont;
  font-weight: normal;
  font-style: normal;
  src: url('~@/static/fonts/iconfont.ttf') format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont.active{
    color: $primary;
}

.icontijiao:before {
  content: '\e6e3';
}

.iconqingkong:before {
  content: '\e6e2';
}

.iconjiantou-dajiantou-xia:before {
  content: '\e6ec';
}

.iconjiantou-dajiantou-shang:before {
  content: '\e6ed';
}

.iconliebiao:before {
  content: '\e6de';
}

.icondingwei1:before {
  content: '\e6e0';
}

.iconhuaquan:before {
  content: '\e6e1';
}

.iconfangjia:before {
  content: '\e6df';
}

.icontongqin:before {
  content: '\e6dd';
}

.iconpingguo-quanquan1:before {
  content: '\e6dc';
}

.iconpingguo-quanquan:before {
  content: '\e6db';
}

.iconsanjiaoxing-xiangshang:before {
  content: '\e6da';
}

.iconstar:before {
  content: '\e6d9';
}

.iconnav-entry:before {
  content: '\e6d8';
}

.iconsuoluetu1:before {
  content: '\e6d6';
}

.iconsuoluetu:before {
  content: '\e6d7';
}

.iconhand:before {
  content: '\e6d4';
}

.iconyuyuekanfang:before {
  content: '\e6cc';
}

.iconjiagezous:before {
  content: '\e6cd';
}

.iconinvisible:before {
  content: '\e6ce';
}

.iconvisible:before {
  content: '\e6cf';
}

.iconjubao:before {
  content: '\e6d0';
}

.iconhi:before {
  content: '\e6d1';
}

.iconhouse_detail_ts:before {
  content: '\e6d2';
}

.iconhelp:before {
  content: '\e6d3';
}

.icongoto:before {
  content: '\e6d5';
}

.icondizhi-dingwei:before {
  content: '\e6ca';
}

.iconjisuanqi:before {
  content: '\e6cb';
}

.iconsheng:before {
  content: '\e6c8';
}

.iconjiang:before {
  content: '\e6c9';
}

.iconsanjiaoxing-xiangxia:before {
  content: '\e6c7';
}

.iconyijiandenglu-quanquan:before {
  content: '\e6c6';
}

.icondanxuan1:before {
  content: '\e6c5';
}

.icondianhua:before {
  content: '\e6bb';
}

.iconbiaoqing:before {
  content: '\e6bc';
}

.iconzhifubao:before {
  content: '\e6bd';
}

.iconshezhi:before {
  content: '\e6be';
}

.iconQQ:before {
  content: '\e6bf';
}

.iconweiliao:before {
  content: '\e6c0';
}

.iconweixin-quanquan:before {
  content: '\e6c1';
}

.iconQQ-quanquan:before {
  content: '\e6c2';
}

.iconweixin:before {
  content: '\e6c3';
}

.iconzhifubao-quanquan:before {
  content: '\e6c4';
}

.iconfanhui:before {
  content: '\e6ba';
}

.iconzhiding:before {
  content: '\e6b8';
}

.icontuijian:before {
  content: '\e6b9';
}

.iconxiangshang:before {
  content: '\e6ae';
}

.iconguanbi-daidi:before {
  content: '\e6af';
}

.iconxiangxia:before {
  content: '\e6b0';
}

.icondizhi:before {
  content: '\e6b1';
}

.iconhuxing:before {
  content: '\e6b2';
}

.iconyiguanzhu:before {
  content: '\e6b3';
}

.iconPK:before {
  content: '\e6b4';
}

.iconjiage:before {
  content: '\e6b5';
}

.iconweiguanzhu:before {
  content: '\e6b6';
}

.iconmianji:before {
  content: '\e6b7';
}

.iconpaixu:before {
  content: '\e6ac';
}

.icontiaozhuan:before {
  content: '\e6ad';
}

.iconbianji:before {
  content: '\e6aa';
}

.icontianjia:before {
  content: '\e6ab';
}

.iconfuxuan:before {
  content: '\e6a5';
}

.iconfenxiang:before {
  content: '\e6a6';
}

.icondanxuan:before {
  content: '\e6a7';
}

.iconsousuo:before {
  content: '\e6a8';
}

.iconshanchu:before {
  content: '\e6a9';
}

.iconbeizhu:before {
  content: '\e6a2';
}

.iconjiechubangding:before {
  content: '\e6a4';
}

.iconguanbi:before {
  content: '\e6a3';
}
